@media (max-width: 799px) {
  .main {
    position: relative;
    overflow: hidden;
  }

  .img {
    position: absolute;
    top: 5px;
    right: -100px;
    width: 400px;
  }
  .abilityIcon {
    width: 80px;
    height: 80px;
    background-size: cover;
    transition: 0.5s;
  }
  .description {
    width: 70%;
  }
}

@media (min-width: 800px) {
  .img {
    width: 730px;
  }

  .container {
    display: flex;
  }

  .tittle {
    text-align: center;
  }

  .classe {
    text-align: center;
  }

  .abilityIcon {
    width: 100px;
    height: 100px;
    background-size: cover;
    transition: 0.5s;
    font-size: 20px;
    color: rgb(243, 237, 237);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: -80px;
  min-height: 100vh;
}

.container {
  width: 100%;
}

.agentArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
.habilitiesArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.description,
.description2 {
  text-indent: 20px;
  max-width: 90%;
  font-size: 24px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.tittle {
  font-size: 32px;
}

.classe {
  color: rgb(167, 159, 173);
  font-size: 24px;
  margin-bottom: 15px;
}

.icon {
  width: 18px;
}
.subTittle {
  text-align: center;
  padding-top: 20px;
  font-size: 24px;
}

.abilityIcon:hover {
  opacity: 0.8;
}
.clicked {
  opacity: 0.6;
}
.abilityTitlle {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
}
